#sticky-sidebar {
	background-color: black; height: auto; position: fixed; overflow-x: hidden;
	top: 0; /* Stay at the top */
	left: 0;
	height: 100%;
	margin-right: 75%;
}

#main {	
	margin-bottom: 5%; 
	margin-left: 15%;
		background-color: #191414;
	color: white;
	height: 100%;
	background-color: #191414; /* For browsers that do not support gradients */
	background-image: linear-gradient(to top, #191414 10%,#191414  ,#330080 );
}

.button {
  background-color: #1db954;
  border: none;
  color: white;
  height: auto;
  padding:10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/*.card-text { background-color: rgba(245, 245, 245, 0.4)!important; }
.card-body { opacity: 1}*/

.fa-play{
padding: 20%;
}
.button5 {border-radius: 50%;}

.header{
font-size: 10px;
color: #FFFFFF;
/*border: 1px dashed orange;*/
position:fixed;
height:12%;
width: 100%;
text-align: center;
}

*{
	font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Ubuntu', sans-serif;

}

.list-unstyled{

	color: white;
	font-size: 14px;
}
.fas{
	padding-right: 10px;
}
.fa-heart{
	color: white;
}
.fa-podcast{
	color: #1db954;
}
.fa-user-circle{
	color: gray;
}

img{
	height: auto;
	width: 100%;
}


.scroll{

	background-color: black;
	color: white;
	width: 200px; 
	height: 111px;
	overflow:auto; 
	border: thin #000 solid;
}
.scroll li{
		font-size:12px;
position: relative;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 70px;
   width: 100%;
   background-color:  #242020;
   color: white;
   text-align: center;
}
#customRange1{
	size: 20px;
}
/* @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  } */

  
@media only screen and (max-width: 744px) {
#main {	
	margin-left: 10%;
}
.heading{
	margin-top: 20%;
}
.container-fluid button{
display: none;
margin-top: 0px;
}
.container-fluid #one{
	position: relative;
}
footer {
   display: none;
}
}

  
a{
	color: white;
	text-decoration: none;
}